CREATE TABLE staffs(id UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID(), email NVARCHAR(255) NOT NULL, password_hash NVARCHAR(MAX) NOT NULL, full_name NVARCHAR(255) NULL, status NVARCHAR(50) NOT NULL DEFAULT 'Active', created_at DATETIMEOFFSET NOT NULL DEFAULT SYSDATETIMEOFFSET(), PRIMARY KEY(id), CONSTRAINT staffs_email_unique UNIQUE(email)); ALTER TABLE reviews ADD moderation_status NVARCHAR(50) DEFAULT 'VISIBLE', hide_reason NVARCHAR(MAX) NULL, reply_comment NVARCHAR(MAX) NULL, replied_by UNIQUEIDENTIFIER NULL, reply_updated_at DATETIMEOFFSET NULL;
 CREATE TABLE order_staff_logs(id UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID(), order_id UNIQUEIDENTIFIER NOT NULL, staff_id UNIQUEIDENTIFIER NOT NULL, action NVARCHAR(255) NOT NULL, created_at DATETIMEOFFSET NOT NULL DEFAULT SYSDATETIMEOFFSET(), PRIMARY KEY(id), CONSTRAINT order_staff_logs_order_id_foreign FOREIGN KEY(order_id) REFERENCES orders(id), CONSTRAINT order_staff_logs_staff_id_foreign FOREIGN KEY(staff_id) REFERENCES staffs(id));
